<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation test Report">

	<listeners>
		<listener class-name="com.uthej.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Dresses Below $28 ">
		<classes>
			
			<class name="com.uthej.testcases.AutomationPractice"></class>
		</classes>
	</test>
</suite>